.reg-container {
  --container-width: 20%;
  --left-margin: calc((100% - var(--container-width)) / 2);
  margin-top: 10%;
  margin-left: var(--left-margin);
  margin-right: var(--left-margin);
  margin-bottom: auto;
  width: var(--container-width);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.reg-background {
  background-image: url("../../static/image/reg_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.reg-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 10px;
}
.reg-name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.reg-name > input {
  flex: 0 0 auto;
  width: 48%;
}

.reg-form > input {
  width: 100%;
}
.reg-form input[type="text"] {
  padding: 7px;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
  :focus {
    border: 2px solid #000;
    border-radius: 4px;
  }
}

.reg-form input[type="text"].error {
  padding: 7px;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid var(--error-color);
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
  :focus {
    border: 2px solid #000;
    border-radius: 4px;
  }
}

.reg-phone {
  display: flex;
  width: 100%;
}

.reg-phone > input {
  flex: 0 0 auto;
  width: 70%;
  margin-right: 5%;
}
.reg-phone > button {
  flex: 1 0 auto;
}

/* CSS */
.reg-phone > button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.reg-phone > button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.reg-phone > button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.reg-phone > button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.reg-phone > button:focus {
  outline: 1px transparent;
}

.reg-phone > button:before {
  display: none;
}

.reg-phone > button:-webkit-details-marker {
  display: none;
}

.reg-form > select {
  flex: 0 0 auto;
  width: 60%;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
}
.reg-form > select.error {
  flex: 0 0 auto;
  width: 60%;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid var(--error-color);
  height: 36px;
  box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

/* CSS */
.signbutton {
  flex-basis: 50%;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin-bottom: 5%;
}

.signbutton:hover,
.sinbutton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.signbutton:hover {
  transform: translateY(-1px);
}

.signbutton:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.sign-submit-button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  flex: 0 0 auto;
  width: 100%;
}

.sign-submit-button.signup {
  color: white;
  background-color: var(--blue-500);
}

.sign-submit-button.signin {
  color: white;
  background-color: var(--blue-500);
  border: 1px solid #a8d1e8;
}

.sign-submit-button.signup:hover {
  color: white;
  box-shadow: 0 0 20px #233148;
  background-color: var(--blue-700);
}

.sign-submit-button.signin:hover {
  box-shadow: 0 0 20px #233148;
  background-color: var(--blue-700);
}

.consent-checkbox {
  margin-top: 3%;
}

.consent-checkbox .checkbox {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.consent-checkbox .checkbox > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.consent-checkbox > label {
  margin-left: 2px;
}

.consent-checkbox > label.error {
  color: var(--error-color);
}
